@using System;
@using Models;
@inherits UmbracoViewPage<Models.ForgotPasswordModel>



@using (Html.BeginUmbracoForm<Controllers.ForgotPasswordController>("ResetPassword", FormMethod.Post))
{
    @Html.AntiForgeryToken()


    <p>P | Ubuntu 18px- Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit , morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cere</p>
    <br />
    <br />
    <div class="grid-x grid-padding-x">
        <div class="cell large-12">
            <h4>@Html.DisplayNameFor(m => m.Email)</h4>
        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="cell large-12">
            @Html.TextBoxFor(m => m.Email)
            <h6 class="text-right">@Html.ValidationMessageFor(m => m.Email)</h6>
        </div>
        <div class="cell large-8 large-offset-4">
            <input type="submit" name="Create Account" title="Reset Password" class="button expanded primary avgHeight" />
        </div>
    </div>


    <div class="grid-x">


        @if (TempData["PwResetSuccessfully"] != null && (bool)TempData["PwResetSuccessfully"])
        {
            <div class="cell text-center">
                <br />
                <br />
                <br />
                <h4>
                    A new password has been sent to your email.<br />
                    Please give a few minutes for the email to be delivered.
                </h4>
            </div>
        }
        else
        {
            <div class="cell">
                <br />
                <br />
                <br />
                @Html.ValidationSummary()
            </div>
        }
    </div>

}



@*@using (Html.BeginUmbracoForm("LogMemberIn", "Login", FormMethod.Post))  // Function | Controller | Method
    {
        @Html.AntiForgeryToken()

        <div class="form">
            <div class="grid-x">
                <div class="cell">
                    <p>P | Ubuntu 18px- Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit , morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cere</p>
                    <br />
                    <br />
                    <div class="grid-x grid-padding-x">
                        <div class="cell large-12">
                            <h4>@Html.DisplayNameFor(m => m.LoginId)</h4>
                            @Html.TextBoxFor(m => m.LoginId)
                        </div>
                        <div class="cell large-12">
                            <h4>@Html.DisplayNameFor(m => m.Password)</h4>
                            @Html.PasswordFor(m => m.Password)
                        </div>
                    </div>
                    <div class="grid-x grid-padding-x">
                        <div class="cell large-16">
                            <br />
                            <h6>@Html.ValidationSummary()</h6>
                        </div>
                        <div class="cell large-8">
                            <br />
                            <button class="button expanded primary">Login</button>
                            <div class="text-center">
                                <a href="@forgotPwUrl" class="primaryLink">Forgot Password</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }*@
